html,body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color:   #161616
}

.App-header{
  background: url(./desk.jpg) no-repeat center center fixed;
  background-size: cover;
  display: table;
  width: 100%;
  height: 100vh;
  position: relative;
}
.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle; 
}
h1{
  font-size: 310%;
}
.btn{
  background:  #161616;
  border: 1px solid #7c818f;
  border-radius: 12px;
  padding: 1%;
  text-transform: uppercase;
  color: white;
}
a {
  text-decoration: none;
  color:  white;
}
a:visited, a:link{
  text-decoration: none;
}
a:hover{
  color: #fffff0;
}
.AboutLinux{
  padding: 3%;
  text-align: left;
  min-height: 100vh;
  max-width: 100%;
  margin: 1%;
  
}
.AboutLinux h2{
  text-align: center;
}
.foot{
  height: 40vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: #161616;
  word-wrap: break-word;
  white-space: pre-line;
  color: white;
  line-height: 40vh;

}
.commands{
  padding:1%;
 background: #f1f4f7;
 display:flex;
 flex-direction: column;
 align-items: center;
}

.commands a,
.foot i{
  color: #e7025f !important;
}
.FloatingActionButtonZoom-root-1,
.jss1{
  width: 70% !important;
  word-wrap: break-word;
}
@media (max-width: 768px){
  .App-header{
    background:#f1f4f7;
    width: 90%;
  }
    h1, h2{
    font-size: 200%;
  }
 h3{
    margin: 0;
    text-align: justify; 
}
.inside,
.heading{
  text-align:  left;
}

 .AboutLinux{
    padding:1%;
    word-wrap: break-word ;
    white-space: pre-line !important;
    margin: 2%;
    max-width: 90vw;
    min-height: 10vh;
  }

  .foot{
    font-size: 50%;
    height: 10vh;
    line-height: 10vh;
  }
  .FloatingActionButtonZoom-root-1,
  .jss1{
    width: 90% !important;
    font-size: 90%;
    white-space: pre-line !important;
  }

}

.ten{
  text-indent: 10%
}
.Bash{
  text-align: left
}
.link{
  background: #f1f4f7;
  margin:0;
  padding: 2%
}
.modal{
  width: 90%;
}
#container{
  margin: 0;
  display: flex;
  justify-items: center;
  text-align: center;
}
.MuiPaper-elevation1-14 {
  box-shadow: none !important;
}
.inside{
  color: #123456 !important;
  text-align:  left;
}
